.pageContainer {
  display: flex;
  width: 98vw;
  height: 98vh;
  margin: 1vh 1vw;
  justify-content: center;
  align-items: center;
}

.reportContainer {
  padding: 20px;
  width: 80%;
  height: 80%;
  box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1),
    0px -2px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.titleContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.titleContainer > h1 {
  width: 100%;
  text-align: center;
}

.headerButtonsContainer {
  display: flex;
  width: min-content;
  justify-content: flex-end;
}

.headerButtonsContainer > button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid black;
  margin: 0 5px;
}

.headerButtonsContainer > button:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
}

.table {
  width: 100%;
  text-align: left;
}

.fileCreationTime {
  color: grey;
  font-size: 90%;
}

.fileDownloadCell > a {
  margin-left: 22px;
}

.fileDownloadCell > a > img:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
  border-radius: 4px;
  padding: 3px 1px;
}

.paginatorButtonsContainer {
  position: absolute;
  bottom: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginatorButtonsContainer > .currentPage {
  background-color: rgba(255, 68, 0, 0.8);
  color: white;
}

.paginatorButtonsContainer > button,
.paginatorButtonsContainer > option {
  border: none;
  border-radius: 8px;
  padding: 5px 12px;
  margin: 8px;
}

.paginatorButtonsContainer > button:hover,
.paginatorButtonsContainer > option:hover,
.paginatorButtonsContainer > .rowSelector > select:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
}

.pageChangeButton {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pageChangeButton > img {
  margin: 0 10px;
}

.rowSelector {
  margin-left: 30px;
}

.rowSelector > select {
  margin-left: 15px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}
