.pageContainer {
  display: flex;
  width: 98vw;
  height: 98vh;
  margin: 1vh 1vw;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.displayBtn {
  border-radius: 4px;
  padding: 8px 5px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  width: fit-content;
}

.tableFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportContainer {
  padding: 20px;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1),
    0px -2px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  overflow-y: auto;
  flex-grow: 1;
}

.titleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.titleContainer > h1 {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.headerButtonsContainer {
  display: flex;
  width: min-content;
  justify-content: flex-end;
  margin-right: 10px;
}

.headerButtonsContainer > button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid black;
  margin: 0 5px;
}

.headerButtonsContainer > button:hover,
.displayBtn:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-bottom: 30px;
}

.table > thead {
  color: grey;
  font-size: larger;
}

.fileDateCell,
.fileNameCell {
  text-align: left;
}

.fileCreationTime {
  color: grey;
  font-size: 90%;
}

.fileDownloadCell {
  text-align: right;
}

.fileDownloadCell > a {
  margin-right: 25px;
}

.fileDownloadCell > a > img:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
  border-radius: 4px;
  padding: 3px 1px;
}

.paginatorButtonsContainer {
  background-color: white;
  position: absolute;
  bottom: 20px;
  height: 40px;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginatorButtonsContainer > .currentPage {
  background-color: rgba(255, 68, 0, 0.8);
  color: white;
}

.paginatorButtonsContainer > button,
.paginatorButtonsContainer > option,
.filterControls > label > input {
  border: none;
  border-radius: 8px;
  padding: 5px 12px;
  margin: 8px;
}

.paginatorButtonsContainer > button:hover,
.paginatorButtonsContainer > option:hover,
.paginatorButtonsContainer > .rowSelector > select:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.406);
}

.pageChangeButton {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pageChangeButton > img {
  margin: 0 10px;
}

.rowSelector {
  margin-left: 30px;
}

.rowSelector > select {
  margin-left: 15px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}
